{% extends 'layout.html' %}
{% block body %}
<!--make for me  rgb(54, 69, 79) color backgrounds-->
<html>
    <body style="background-color:rgb(40,40,40);">
       
    </body>
    </html>
    
<img itemprop="contentUrl" alt="Tyler Durden Movie Stills and backgrounds HD wallpaper" title="Tyler Durden Movie Stills and backgrounds HD wallpaper" src="https://e1.pxfuel.com/desktop-wallpaper/785/473/desktop-wallpaper-tyler-durden-movie-stills-and-backgrounds-tyler-durden.jpg">



{% endblock %}
