{% extends 'layout.html' %}
{% block body %}
<html>
    <body style="background-color:rgb(40,40,40);">
        <h1 style="color:white">
         
            <img src="https://ychef.files.bbci.co.uk/976x549/p07h2zhs.jpg" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style="max-width: 976px; height: 233px; margin: 1px 0px; width: 415px;" alt="Is Fight Club's Tyler Durden film's most misunderstood man? - BBC Culture" jsname="kn3ccd" aria-hidden="false">
        
        <h3 style="color:white"> “We’re the middle children of history, man. No purpose or place. We have no Great War. No Great Depression. Our Great War’s a spiritual war… our Great Depression is our lives. We’ve all been raised on television to believe that one day we’d all be millionaires, and movie gods, and rock stars. But we won’t. And we’re slowly learning that fact. And we’re very, very pissed off.”</h3>
        


{% endblock body %}